h2{color:rgba(57, 50, 148, 0.767)};
body{background-color: lightgray ;}
#profile-pic{width: 250px;height: 250px;border-radius:50%;margin-left: auto;margin-right: auto}
ul{
    padding: 0;
    list-style-type: none;
}
.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}
.social{
    width:30px;
    height: 30px;;
}
br{
    display: block;
}